example3
{"createdAt":"2025-03-06T11:29:46.964Z","updatedAt":"2025-04-08T05:55:28.000Z","id":"2AJsQfsTN5wJFq62","name":"teamsMessage flow","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"c2b6c78c-8c2e-4cc8-923c-96363fea2e0b","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-100,-220],"id":"a4281a1f-b12f-411e-84b9-20d2630b1cba","name":"Webhook","webhookId":"c2b6c78c-8c2e-4cc8-923c-96363fea2e0b"},{"parameters":{"resource":"chatMessage","chatId":{"__rl":true,"value":"19:8bd0b6a179014a6d816a5967a44c9577@thread.v2","mode":"list","cachedResultName":"N8N Files (group)","cachedResultUrl":"https://teams.microsoft.com/l/chat/19%3A8bd0b6a179014a6d816a5967a44c9577%40thread.v2/0?tenantId=e1456449-9865-4000-abc1-1fcff025db1f"},"contentType":"html","message":"=<b>Error Data</b></br>\n<b>Flow Name :</b>{{ $json.body['flow name'] }}</br>\n{{ $json.body.message }}</br>\n<b>Date :</b>{{ $now.format('dd LLL yy') }}</br>\n<b>Time :</b>{{ $now.format('hh:mm:ss a') }}</br>\n<b>Url :</b><a href=\"{{ $json.body.invoiceId }}\" ><b>Access the {{ $json.body.linkName.split(',')[0] }} link here</b></a></br>\n<b>Url :</b><a href=\"{{ $json.body.customerNameLink }}\" ><b>Access the {{ $json.body.linkName.split(',')[1] }} link here</b></a></br>","options":{}},"type":"n8n-nodes-base.microsoftTeams","typeVersion":2,"position":[360,-440],"id":"2ea1f900-9e6b-4911-bcb8-e2a9443f591b","name":"Microsoft Teams","credentials":{"microsoftTeamsOAuth2Api":{"id":"cT0ema3KXNeqexaX","name":"Microsoft Teams account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.linkName }}","rightValue":" invoice,customer","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"primary error message"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"888176c4-2620-4104-bac8-cfb5512d9e99","leftValue":"={{ $json.body.linkName }}","rightValue":"secondary","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"secondary error message"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"85679266-877b-417e-b715-202a5252a194","leftValue":"={{ $json.body[\"flow name\"] }}","rightValue":"erp-sync Flow","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"erp-sync Flow"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[120,-220],"id":"a4ab2fbb-74f3-4b3d-a3fd-a3f975e395f1","name":"Switch"},{"parameters":{"resource":"chatMessage","chatId":{"__rl":true,"value":"19:9ed531bb60f94629aba26ad66a6c0247@thread.v2","mode":"list","cachedResultName":"Test (group)","cachedResultUrl":"https://teams.microsoft.com/l/chat/19%3A9ed531bb60f94629aba26ad66a6c0247%40thread.v2/0?tenantId=e1456449-9865-4000-abc1-1fcff025db1f"},"contentType":"html","message":"=<b>Error Data</b></br>\n<b>Flow Name :</b>{{ $json.body['flow name'] }}</br>\n{{ $json.body.message }}</br>\n<b>Date :</b>{{ $now.format('dd LLL yy') }}</br>\n<b>Time :</b>{{ $now.format('hh:mm:ss a') }}</br>\n<b>Url :</b><a href=\"{{ $json.body.dataLink }}\" ><b>Access the {{ $json.body.linkName.split(',')[0] }} link here</b></a></br>\n","options":{}},"type":"n8n-nodes-base.microsoftTeams","typeVersion":2,"position":[360,-220],"id":"dc387fbb-1e67-4e36-be58-d77b9a6861a6","name":"Microsoft Teams1","credentials":{"microsoftTeamsOAuth2Api":{"id":"cT0ema3KXNeqexaX","name":"Microsoft Teams account"}}},{"parameters":{"resource":"chatMessage","chatId":{"__rl":true,"value":"19:9ed531bb60f94629aba26ad66a6c0247@thread.v2","mode":"list","cachedResultName":"Test (group)","cachedResultUrl":"https://teams.microsoft.com/l/chat/19%3A9ed531bb60f94629aba26ad66a6c0247%40thread.v2/0?tenantId=e1456449-9865-4000-abc1-1fcff025db1f"},"contentType":"html","message":"={{ $json.body.message }}</br>\n<b>Date :</b>{{ $now.format('dd LLL yy') }}</br>\n<b>Time :</b>{{ $now.format('hh:mm:ss a') }}</br>","options":{}},"type":"n8n-nodes-base.microsoftTeams","typeVersion":2,"position":[360,0],"id":"9b733187-7784-414d-a516-91eb271a04d9","name":"Microsoft Teams2","credentials":{"microsoftTeamsOAuth2Api":{"id":"cT0ema3KXNeqexaX","name":"Microsoft Teams account"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Microsoft Teams","type":"main","index":0}],[{"node":"Microsoft Teams1","type":"main","index":0}],[{"node":"Microsoft Teams2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"elbrit-dev.app.n8n.cloud","user-agent":"axios/1.7.4","content-length":"380","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"98.67.244.108","cf-ew-via":"15","cf-ipcountry":"DE","cf-ray":"92cf6294f0af3612-FRA","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","x-forwarded-for":"98.67.244.108, 162.158.111.229","x-forwarded-host":"elbrit-dev.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-6-58b64db885-qn9zm","x-is-trusted":"yes","x-real-ip":"98.67.244.108"},"params":{},"query":{},"body":{"dataLink":"https://elbritlife-my.sharepoint.com/personal/jayasri_elbrit_org/_layouts/15/Doc.aspx?sourcedoc=%7B22C2D5E4-7D81-465D-9969-E6DA6A619C31%7D&file=Secondary_Kerala_Elbrit_Kerala_Jan-2025.xlsx&action=default&mobileredirect=true","flow name":"secondary sales","message":"The following data does not contain <b>EBS Code</b> as present in ERP","linkName":"secondaryEBSCode"},"webhookUrl":"https://elbrit-dev.app.n8n.cloud/webhook/c2b6c78c-8c2e-4cc8-923c-96363fea2e0b","executionMode":"production"}}]},"versionId":"728d40cf-224b-4569-a41d-f90bbf3d3dbe","triggerCount":1,"tags":[]}